{{define "claim_ima.html"}}


<table class="table table-sm table-striped">
   <thead>
      <tr>
         <th scope="col">Field</th>    
         <th scope="col">Value</th>                   
      </tr>
   </thead>
   <tbody>
      <tr><td scope="col">Encoding details</th> <td scope="col">{{ .encoded }} {{ .encodedlength }} bytes encoded, {{ .unencodedlength }} bytes original</th> </tr>     
         </tbody>
</table>
<h6 class="mt-3">IMA ASCII log</h6>
<pre class="j-raw border rounded p-2 small">{{ base64decode .asciilog }}</pre>

{{end}}


