{{define "content"}}
<h3>Expected Value</h3>

<form action="/new/expectedvalue" method="post">

<div class="container-md">
   <div class="row">
      <div class="col-md-12">
         <label for="itemid" class="form-label"><b>ItemID</b></label>
         <input class="form-control" id="itemid" name="itemid" readonly></input>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <label for="name" class="form-label"><b>Name</b></label>
         <input class="form-control" id="name" name="name" required></input>
      </div>
   </div>

    <div class="row">
      <div class="col-md-12">
         <label for="description" class="form-label"><b>Description</b></label>
         <input class="form-control" id="description" name="description" required></input>
      </div>
   </div>
     
   <br />

   <div class="row">
      <div class="col-md-6">
         <label for="elementselect" class="form-label"><b>Element</b> <i>select one</i></label>
         <select class="form-select" size=10 name="elementselect" id="elementselect" required>
            <!-- {{ range .Elements }}
               <option value={{ .ItemID }}>{{ .Name }}</option>       
            {{ end }}
            -->

            {{ range $i,$e := .Elements }}
                {{ range $j,$ep := $e.Endpoints }}
                     <option value="{{ $e.ItemID }},{{ $j }}">{{ $e.Name}} - {{ $j }} : {{ $ep.Endpoint }}</option>
               {{ end }}  
            {{ end }}


         </select>
      </div>
      <div class="col-md-6">
         <label for="intentselect" class="form-label"><b>Intent</b> <i>select one</i></label>
         <select class="form-select" size=10 name="intentselect" id="intentselect" required>
            {{ range .Intents }}
               <option value={{ .ItemID }}>{{ .Name }} ({{ .Function }})</option>       
            {{ end }}
         </select>
      </div>
   </div>

   <br/>
   
   <div class="row">
      <div class="col-md-10">
         <label for="evsparameters" class="form-label"><b>Expected Value Parameters (evs field) in JSON</b></label>
         <textarea class="form-control" rows=6 id="evsparameters" name="evsparameters" required>{}</textarea>
      </div>
      <div class="col-md-2">
         <div>
            <p><b>Templates:</b><br/></p>
            <p>
               <button type="button" class="btn btn-warning btn-sm" onClick="setEVBlank()">Clear EVS</button>&nbsp;
                <button class="btn btn-info btn-sm" onclick="PrettyPrintJSON()">Pretty Print EVS</button>

            </p>     
            <p>
               <button type="button" class="btn btn-primary btn-sm" onClick="setEVTPMQuote()">TPM/Quote</button>&nbsp;
               <button type="button" class="btn btn-primary btn-sm" onClick="setEVPCRSelection()">PCRSelection</button><br/>
            </p>


         </div>
      </div>
   </div>

   <br/>
   <button type="submit" class="btn btn-primary">Submit</button>
</div>

<hr/>
   <div class="row">
      <div class="col-md-12">
         <h3>Instructions</h3>
         <p>The above expected value parameters (evs field) must be valid JSON</p>
         <p>The expected value for the given element and intent must be unique</p>
         <p>If a new expected value is being created, then the itemid field will be overwritten and an identifier automatically generated</p>
      </div>
   </div>

</form>


<script type="text/javascript">
    function setEVTPMQuote() {
        document.getElementById('evsparameters').value = `{
         "attestedValue":"****",
         "firmwareVersion":"****"
      }`;
    }
    function setEVPCRSelection() {
        document.getElementById('evsparameters').value = `{ "pcrselection":"****" }`;
    }
    function setEVBlank() {
        document.getElementById('evsparameters').value = "{}";
    }



   function PrettyPrintJSON() {
      console.log("pressed")
      var badJSON = document.getElementById("evsparameters").value;
      var parseJSON = JSON.parse(badJSON);
      var JSONinPrettyFormat = JSON.stringify(parseJSON, undefined, 4);
      document.getElementById("evsparameters").value = JSONinPrettyFormat;
   }   

</script>


{{end}}
