{{define "content"}}
<h3>{{.E.Name}}</h3>
<div class="row">
   <div class="col-sm-6 border border-primary rounded">
      <table class="table table-md table-striped">
         <tbody>
            <tr><td scope="col">ItemID</td> <td scope="col">{{ .E.ItemID }}</td> </tr>
            <tr><td scope="col">Description</td> <td scope="col">{{ .E.Description }}</td> </tr>        
            <tr><td scope="col">Tags</td> <td scope="col">{{ range .E.Tags }}
            <span class="badge bg-secondary"> {{ . }} </span>
         {{end}}</td> </tr>
      </tbody>
   </table>
   <hr/>
   <table class="table table-md table-striped">
      <tbody>
         {{ range $i, $v := .E.Endpoints }}
         <tr>
            <td>{{ $i }}</td><td> <span class="badge bg-secondary"> {{ $v.Protocol }} </span></td><td> <a href="{{ $v.Endpoint }}">{{ $v.Endpoint }}</a></td>
         </tr>
         {{end}}
      </tbody>
   </table>
   
</div>
<div class="col-sm-6 border border-primary rounded">
   #Sessions
   #Resuts
   #Claims
</div>
</div>
<hr/>
<div class="row">
<div class="col-sm-6 border border-primary rounded">
   {{ if not .E.TPM2.Device }}
   <i>No TPM Device Present</i>
   {{ else }}
   {{ template "tpm2.html" .E.TPM2 }}
   {{ end }}
</div>
<div class="col-sm-6 border border-primary rounded">
   {{ if not .E.Host.Arch }}
   <ul>
      <li><i>No host information specified</i>
      </li>
   </ul>
   {{ else }}
   {{ template "hostinformation.html" .E.Host }}
   {{ end }}
   <hr/>
   <ul>
      {{ if not .E.UEFI.Eventlog }}
      <li><i>No UEFI log specified</i></li>
      {{ else }}
      <li><span data-bs-toggle="tooltip" title="{{ .E.UEFI.Eventlog }}">UEFI Present</span></li>
      {{ end }}
      {{ if not .E.IMA.ASCIILog }}
      <li><i>No IMA log specified</i></li>
      {{ else }}
      <li><span data-bs-toggle="tooltip" title="{{ .E.IMA.ASCIILog }}">Linux IMA Present</span></li>
      {{ end }}
      {{ if not .E.TXT.Log }}
      <li><i>No TXT log specified</i></li>
      {{ else }}
      <li><span data-bs-toggle="tooltip" title="{{ .E.TXT.Log }}">Intel TXT Present</span></li>
      {{ end }}
   </ul>
</div>
</div>
<!-- old stuff from here -->
<hr/>
<div class="row">
<div class="col-sm-6 border border-secondary rounded">
   <h5>Results</h5>
   <table class="table table-striped table-xxl table-condensed">
      <thead>
         <tr>
            <th scope="col">RuleName</th>
            <th scope="col">VerifiedAt</th>
            <th scope="col">Result</th>
            
         </tr>
      </thead>
      <tbody>
         {{ range .RS }}
         <tr>
            <td><a href="/result/{{ .ItemID }}">{{ .RuleName }}</a></td>
            <td>{{ epochToUTC .VerifiedAt }}</td>
            <td>
               {{ template "resultvalue.html" .Result }}
            </td>
         </tr>
         {{end}}
      </tbody>
   </table>
   <hr/>
</div>
<div class="col-sm-6 border border-secondary rounded">
   <h5>Claims</h5>
   <table class="table table-striped table-xxl table-condensed">
      <thead>
         <tr>
            <th scope="col">Type</th>
            <th scope="col">Endpoint</th>
            <th scope="col">Requested</th>
            <th scope="col">Intent</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         {{ range .CS }}
         {{ if eq .BodyType "*ERROR"}}
         <tr class="table-danger">
            {{else}}
            <tr>
               {{end}}
               <td><a href="/claim/{{ .ItemID }}">{{ .BodyType }}</a></td>
               <td>{{ .Header.EndpointName }}</td>
               <td>{{ epochToUTC .Header.Timing.Requested }}</td>
               <td>{{ .Header.Intent.Name }}</td>
               <td><a href=/session/{{ .Header.Session.ItemID }}><i class="fa fa-cogs"></i></a></td>
               {{end}}
            </tr>
         </tbody>
      </table>
   </div>
</div>
{{end}}