{{define "content"}}
<h3>Expected Value {{ .EV.Name }} </h3>

<table class="table table-sm table-striped">
   <thead>
      <tr>
         <th scope="col">Field</th>    
         <th scope="col">Value</th>                   
      </tr>
   </thead>
   <tbody>
      <tr><td scope="col">Name</th> <td scope="col">{{ .EV.Name }}</th> </tr>     
      <tr><td scope="col">Description</th> <td scope="col">{{ .EV.Description }}</th> </tr>     
      <tr><td scope="col">ItemID</th> <td scope="col">{{ .EV.ItemID }}</th> </tr>     

      <tr><td scope="col">Element</th> <td scope="col"><a href="/element/{{ .E.ItemID }}">{{ .E.Name }} </a></span></th> </tr>     

      <tr><td scope="col">Endpoint Name</th> <td scope="col">{{ .EV.EndpointName }} </a></span></th> </tr>           
      <tr><td scope="col">Intent</th> <td scope="col"><a href="/intent/{{ .I.ItemID }}">{{ .I.Name }}  </a> <span class="badge bg-secondary">{{ .I.Function }}</span></th> </tr>     
      
      <tr><td scope="col">EVS Parameters</th> <td scope="col">{{ template "genericList.html" .EV.EVS }}</th> </tr>     


   </tbody>
</table>

<hr />

   {{ if not .EV.RecordHistory }}
   <i>No record history</i>
   {{ else }}
   {{ template "recordhistory.html" .EV.RecordHistory }}
   {{ end }}   

{{end}}
