{{define "content"}}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Help</h1>
</div>

<div>
Help can be found on the Github pages for this project. Here are the main links
<ul>
    <li><a href="https://github.com/iolivergithub/jane/blob/main/docs/contents.md" target=”_blank”>Contents</a>
    <li><a href="https://github.com/iolivergithub/jane/blob/main/docs/gettingstarted.md" target=”_blank”>Getting Started</a>  
</ul>

also, there's a useful <a href="https://github.com/iolivergithub/TPMCourse" target=”_blank”>TPMCourse here.</a>
</div>
{{end}}