{{define "tpm2.html"}}
<table class="table  table-striped">
   <tbody>
      <tr><th scope="col">Device</th> <th scope="col">{{ .Device }}</th>  </tr>
      <tr><td scope="col">EKCert</td> <td scope="col">{{ .EKCertHandle }}</td>  </tr>
      <tr><td scope="col">EK</td> <td scope="col">
      <span data-bs-toggle="tooltip" title="Name: {{ .EK.Name }}, Public: {{ .EK.Public }} ">{{ .EK.Handle }}</span></td></tr>
      <tr><td scope="col">AK</td> <td scope="col">
      <span data-bs-toggle="tooltip" title="Name: {{ .AK.Name }}, Public: {{ .AK.Public }} ">{{ .AK.Handle }}</span></td></tr>
   </tbody>
</table>
{{end}}