[Unit]
Description=Jane Attestation Engine
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ian
ExecStart=/opt/jane/janeserver --config=/etc/opt/jane/config.yaml

[Install]
WantedBy=multi-user.target